.grid {
    display: grid;
    grid-template-columns: repeat(3, 128px);
    grid-template-rows: repeat(3, 128px);
    gap: 5px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}